

<nav class="sidebar-ingreso">

  <a [routerLink]="['/ingresos', ingresoId, 'resumen']"
     routerLinkActive="active">
    Resumen
  </a>

  <a [routerLink]="['/ingresos', ingresoId, 'observaciones']"
     routerLinkActive="active">
    Observaciones
  </a>

  <a [routerLink]="['/ingresos', ingresoId, 'autorizaciones']"
     routerLinkActive="active">
    Autorizaciones
  </a>

  <a [routerLink]="['/ingresos', ingresoId, 'correos']"
     routerLinkActive="active">
    Correos
  </a>

  <a [routerLink]="['/ingresos', ingresoId, 'documentos']"
     routerLinkActive="active">
    Documentos
  </a>

</nav>
