.sidebar {
  width: 280px;
  height: 100vh;

  background:
  linear-gradient(

            140deg,

            #14486b 0%,

            #1f9463 50%,

            #021b30 100%

        );

  color: white;

  display: flex;
  flex-direction: column;

  position: fixed;
  left: 0;
  top: 0;
}

.logo {

  display: flex;
  align-items: center;

  gap: 15px;

  padding: 30px;
}

.logo-icon {

  font-size: 32px;
}

.logo-text {

  display: flex;
  flex-direction: column;

  font-weight: 600;
}

nav {

  display: flex;
  flex-direction: column;

  gap: 10px;

  padding: 20px;
}

nav a {

  color: white;

  text-decoration: none;

  padding: 15px;

  border-radius: 12px;

  transition: .2s;
}

nav a:hover {

  background: rgba(255,255,255,.1);
}

.active {

  background: rgba(255,255,255,.12);
}

nav a.active{

  background: rgba(255,255,255,.12);

  border-left: 4px solid #22c55e;

  color: #22c55e;

  font-weight: 600;
}

nav a.active mat-icon{
  color:#22c55e;
}

.menu a.active{

  background:rgba(255,255,255,.12);

  border-left:4px solid #ffffffdc;

  color:#ffffffdc;

  font-weight:600;
}

.menu a.active mat-icon{
  color:#22c55e;
}
