<header class="topbar">

  <div class="left-section">

    <button
      mat-icon-button
      class="menu-button"
      (click)="alternarMenu()">

      <mat-icon>menu_open</mat-icon>

    </button>

    <div class="breadcrumb">

      <span>Inicio</span>

      <span class="separator">/</span>

      <span class="current">
        Nuevo Ingreso
      </span>

    </div>

  </div>

  <div class="header-right">

    <button
      mat-icon-button
      class="notification-btn">

      <mat-icon>notifications</mat-icon>

    </button>

    <div class="user-card">

      <div class="user-info">

        <div class="user-name">
          {{ nombreCompleto }}
        </div>

        <div class="user-role">
          {{ rol }}
        </div>

      </div>

      <button
        mat-icon-button
        class="avatar"
        [matMenuTriggerFor]="menuUsuario">

        {{ inicial }}

      </button>

      <mat-menu #menuUsuario="matMenu">

        <div class="menu-header">

          <strong>{{ nombreCompleto }}</strong>

          <small>{{ rol }}</small>

        </div>

        <button
          mat-menu-item
          (click)="cerrarSesion()">

          <mat-icon>logout</mat-icon>

          <span>Cerrar sesión</span>

        </button>

      </mat-menu>

    </div>

  </div>

</header>